<div class="product-gallery flex flex-col gap-4 md:flex-row">
  <!-- Main carousel container -->
  <div class="w-full md:w-11/12 md:order-2">
    <div class="product-gallery-carousel product-gallery-carousel-main gallery-loading swiper relative flex-1">
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <div class="swiper-slide group relative w-full overflow-hidden md:rounded-lg">
            <div class="swiper-zoom-container">
              <img
                src="{{ image | img_url: 'large' }}"
                alt="{{ image.alt | escape }}"
                width="{{ image.width }}"
                height="{{ image.height }}"
                class="h-full w-full object-cover"
                loading="lazy"
              >
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Thumbnails - horizontal on mobile, vertical on desktop -->
  <div class="w-full md:w-1/12 md:min-w-[90px] md:order-1">
    <div class="product-gallery-carousel product-gallery-carousel-nav gallery-loading swiper">
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <div class="swiper-slide overflow-hidden rounded-lg">
            <img
              src="{{ image | img_url: 'small' }}"
              alt="{{ image.alt | escape }}"
              width="{{ image.width }}"
              height="{{ image.height }}"
              class="h-full w-full object-cover"
              loading="lazy"
            >
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Gallery Modal -->
{% comment %} <dialog id="gallery-modal" class="gallery-modal">
  <div class="gallery-modal-content">
    <button class="gallery-modal-close">
      {% render 'icons' with icon: 'close' %}
    </button>
    <div class="gallery-modal-carousel">
      {% for image in product.images %}
        <div class="carousel-cell">
          <img
            src="{{ image | img_url: '2048x' }}"
            alt="{{ image.alt | escape }}"
            width="{{ image.width }}"
            height="{{ image.height }}"
            class="h-full w-full object-contain"
            loading="lazy"
          >
        </div>
      {% endfor %}
    </div>
  </div>
</dialog> {% endcomment %}
